<div class="w-2/4">
    <div class=" bg-white flex items-center rounded-full p-2">
        <input id="search" type="text" placeholder="Search for books..."  class= "w-full border-none sha">
        <button class="text-1xl pr-5">Search</button>
    </div>
    <ul id="autocomplete-results" class="mt-2  bg-white rounded-md shadow-md"></ul>
    <div id="board" class=" mt-32  bg-white rounded-md shadow-md">
    
    </div>
</div>